
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.custom-input {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;
}


.custom-labels{
  margin-left: 30%;
}
.error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}
.checkbox{
  margin-left: 26%;
}
